go 1.25.3

use (
	./libraries/abicache
	./libraries/actionstream
	./libraries/chain
	./libraries/compression
	./libraries/config
	./libraries/corereader
	./libraries/corestream
	./libraries/encoding
	./libraries/enforce
	./libraries/fcraw
	./libraries/logger
	./libraries/openapi
	./libraries/profiler
	./libraries/querytrace
	./libraries/server
	./libraries/serviceclient
	./libraries/tracereader
	./services/actionindex
	./services/apiproxy
	./services/coreindex
	./services/coreverify
	./services/streamproxy
	./services/txindex
)
